/******** Global Styles ********/
html {
    font-size: 62.5% ;
}
*{
    list-style: none;
    text-decoration: none;
    margin: 0;
}
body{
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}

img {
    max-width: 100%;
}
ul{
    margin: 0;
}
h1{
    font-weight: 700;
    font-size: 4rem;
}
h2{
    font-size: 3rem;
}
h3{
    font-size: 2.4;
}
h4{
    font-size: 2rem;
    font-weight: 500;
}
p{
    font-weight: 400;
    font-size: 1.6rem;
}

/*********************************** ***  *****************/
.header-wrapper{
    background-color: rgba(22, 22, 23, 1);
    /* height: 25px; */
    color: #fff;
    /* padding-top: 1rem;
    padding-bottom: 2rem; */
}
.internal-header-wrapper ul li a {
    list-style: none;
}
.nav-items
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1.6rem;
    padding: 1rem 0;
}
.internal-header-wrapper{
    width: 980px;
    /* background-color: gray; */
    margin: 0  auto ;
    /* display: flex;
    justify-content: space-between; */
    

}
.cart-link  {
    width: 18px;
}
 .logo-link {
    width: 18px;
}
.search-link{
    width: 18px;
}
/* .logo-link, .search-link, .cart-link   img{
    width: 100%;
} */


/************* MacBook Pro Section *************/
.banner-1{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}
.mac-book{
    text-align: center;
}
.mac-book-title{
    /* padding-top: 0.5rem; */
    padding-bottom: 1rem;
}
.mac-book-links{
    display: flex;
    gap: 20px;
}